*{
  padding: 0;
  margin: 0;
}
html{
overflow-x: hidden;
}
body{
  font-size: 62.5%;
  overflow-x: hidden;
}

.header{
  background-color:teal;
  display: flex;
  align-items: center;
  height: 12vh;
}

.nav{
  display: flex;
  width: 100%;
  justify-content:space-between;
  align-items: center;
  height: 12vh
  font-weight: 300;
  font-size: 1rem;
}

.logo{
  width: 20vw;
  
  text-align: center;
}

.navlist{
  display: flex;
  width: 30vw;
  margin: 0 1.6rem 0 0;
  justify-content: center;
}

.navlist ul{
  display: flex;
  gap: 2rem;
}
.navlist ul li{
  display: flex;
  list-style: none;
  gap: 2rem;
}

.menubtn{
  
}

.m{
  font-size: 1rem;
  display:none;
}

.menubtn .c{
  display: none;
}
.a{
  background-color: white;
  height: 80vh;
}

@media only screen and (max-width:800px){
 body{
 }
 .header{
   position: relative;
 }
 .navlist{
   border:3px solid blue;
   position:absolute;
   display: flex;
   width: 100%;
   height:100vh;
   background-color: #FFF;
   top: 0;
   left: 0;
   transform: translateX(100%);
   transition: all 0.5s linear;
   
    }
    .navlist ul{
      
      display: flex;
      justify-content: center;
      flex-direction: column;
  
    }
 
 .navlist ul li{
  
  display: flex;
  align-items: center;
  justify-content: center;

 }
 .me{
   display: block;
   z-index:999 ;
 }
 
 .active .navlist{
   opacity: 1;
   visibility: visible;
   transform: translateX(0);
   pointer-events: auto;
   
 }
 .active .me{
   display: none;
 }
 .active .c{
   display: block;
 }
 
 
} 
